.label_rating {
  margin-bottom: 6px;

}

.stars {
  display: flex;
  height: 41px;
  justify-content: center;
  min-width: 150px;
  width: 100%;
  border: 1px solid rgb(243, 249, 93);
  border-radius: 8px;
  opacity: 0.80;
}

.star {
  display: flex;
  align-items: center;
  margin: 0px 2px;
  height: 100%;
}

.star i {
  font-size: 22px;
  cursor: pointer;
  color: rgb(243, 249, 93);
}

.star i:hover {
  transform: scale(1.2);
}

label {
  color: white;
}

.container_title {
  color: white;
  font-size: 24px;
}

.see_form {
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 300px;
  justify-content: space-between;
  align-items: center;
  color: rgb(88, 152, 202);
  border-bottom: 1px solid rgb(88, 152, 202);
  margin-bottom: 20px;
  padding-right: 5px;
  cursor: pointer;
}

.see_form:hover {
  color: rgb(43, 131, 198);
  border-bottom: 1px solid rgb(43, 131, 198);
}

a {
  text-decoration: none;
}

a:hover {
  color: rgb(88, 152, 202);
}

.see_form i {
  height: 100%;
  display: flex;
  align-items: center;
}

.see_form p {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
}

.container {
  padding: 20px 180px;
}

.title {
  color: #ffffff;
  font-size: 24px;
  font-weight: bolder;
  margin: 20px 0;
}

.reviews_container {
  margin: 50px auto;
}

hr {
  color: white;
}

.single_review {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: white;
  margin: 0;
}

.user_single_review {
  display: flex;
  margin: 0 20px;
  justify-content: flex-end;
}

.header_single_review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px 5px 12px;
  margin-bottom: 15px;
}

.title_single_review {
  display: flex;
  height: 100%;
  margin: 0;
  font-size: 24px;
}

.stars_single_review {
  display: flex;
  height: 41px;
  justify-content: center;
  border-radius: 8px;
  opacity: 0.80;
}

.star_single_review {
  display: flex;
  align-items: center;
  margin: 0px 2px;
  height: 100%;
}

.star_single_review i {
  font-size: 22px;
  color: rgb(243, 249, 93);
}

.description_single_review {
  padding: 0 12px;
  text-align: justify;
}

.delete_single_review {
  border-radius: 5px;
  display: flex;
  align-items: center;
  /* background-color: rgb(88, 152, 202); */
  padding: 0.2em 0.4em;
  position: absolute;
  bottom: 1.5em;
  right: 1%;
  cursor: pointer;
  transition: .5s;
  color: rgb(186, 46, 46);
}

.delete_single_review:hover {
  transform: scale(1.05);
}

.delete_single_review i {
  display: flex;
  height: 100%;
  margin-left: 0.4em;
  text-align: center;
  height: 100%;
}

.baneado{
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 300px;
  justify-content: space-between;
  align-items: center;
  color: #C70039;
  border-bottom: 1px solid #ED8D8D;
  margin-bottom: 20px;
  padding-right: 5px;
  cursor: pointer;
  background-color: #181818;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
}

.baneadoText{
  margin-bottom: 0px;
}

.iconForb{
  font-size: 22px;
}
@media (max-width: 700px) {
  .reviews_container{
    margin: 0;
  }
}