.login_body {
  position: relative;
  height: 89vh;
  width: 100%;
  font-size: 16px;
}

.container {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25em;
  background-color: #ededed;
  border-radius: 10px;
}

.container h2 {
  margin-top: 0.7em;
  font-weight: 700;
  text-align: center;
  padding: 0 0 0.7em 0;
  border-bottom: 1px solid #adadad;
}

.container form {
  padding: 0 2.5em;
  box-sizing: border-box;
}

form .container_input {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 2.875em 0;
}

.container_input input {
  width: 100%;
  padding: 0 0.3125em;
  height: 2.5em;
  font-size: 1em;
  border: none;
  background: none;
  outline: none;
}

.container_input label {
  position: absolute;
  top: 50%;
  left: 0.3125em;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 1em;
  pointer-events: none;
  transition: .5s;
}

.container_input span::before {
  content: "";
  position: absolute;
  top: 2.5em;
  width: 0;
  left: 0;
  height: 2px;
  background: var(--violeta-primario);
  transition: .5s;
}

.container_input input:focus~label,
.container_input input:valid~label {
  top: -0.3125em;
  color: var(--violeta-primario);
}

.container_input input:focus~span::before,
.container_input input:valid~span::before {
  width: 100%;
}

.google {
  text-align: center;
  margin: 0.5em 0 1.25em 0.3125em;
  color: #666666;
  cursor: pointer;
}

.google:hover {
  text-decoration: underline;
}

.button_form {
  width: 100%;
  height: 2.5em;
  border: 1px solid;
  background-color: var(--violeta-primario);
  font-size: 1.125em;
  color: white;
  border-radius: 0.625em;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.button_form:hover {
  border-color: black;
  transition: .5s
}

.link {
  margin: 1.25em 0;
  text-align: center;
  font-size: 1em;
  color: #666666;
}

.link:hover {
  text-decoration: underline;
}

.error {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  top: 3.5em;
  font-size: 0.8125em;
  /* color: rgb(231, 25, 25); */
  color: #666666;
  width: 100%;
  height: 1.25em;
  padding: 0;
}

.error p {
  margin: 0;
}

.error i {
  margin: 0 0 0 0.3125em;
}