body {
  margin: 0 auto;
  background-color: #191919;
  max-width: 1200px;
  box-sizing: border-box;
  font-family: "Helvetica", -apple-system, "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body a:link,
a:visited,
a:active {
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

select {
  font-family: inherit;
}