/* variables paleta de colores */
:root {
  --violeta-primario: #B270A2;
  --verde-primario: #95d9c3;
  --azul-complementario: #355070;
  --gris-complementario: #aeb4a9;
  --negro-backgound: #181818;
  --negro-navBar-filters-btn: #101010;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-bottom: 6.25rem;
  min-height: 97.8vh;
  position: relative;
  background-color: var(--negro-backgound);
  box-sizing: border-box;
  font-family: "Helvetica", -apple-system, "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body a:link,
a:visited,
a:active {
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

select {
  font-family: inherit;
}