.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divh1 {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

.h1 {
  color: #d9d9d9;
  font-weight: 600;
  text-align: center;
  background-color: var(--violeta-primario);
  box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
  padding: 10px 50px;
  border-radius: 10px;
}

.label {
  color: #d9d9d9;
  margin: 15px 0 5px 0px;
  background-color: var(--violeta-primario);
  width: 120px;
  padding: 0 10px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 600;
}

.form {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--violeta-primario) 2px solid;
  border-radius: 10px;
  background-color: #2f2f2f;
  box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
}

.divs {
  margin: 20px;
  height: 600px;
  width: 600px;
}

.incontainer {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 10px;
  height: 40px;
  background: #d9d9d9;
  box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 10px;
  width: 100%;
}

.fileDiv {
  display: flex;
}

.divLabel {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-right: 10px;
  border: 1px solid var(--violeta-primario);
  border-radius: 10px;
  background-color: var(--negro-backgound);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.fileLabel {
  width: 100%;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.fileInput {
  display: none;
}

.btnShowIMG {
  width: 70px;
  height: 100%;
  padding: 6px 20px;
  cursor: pointer;
  color: #d9d9d9;
  background: var(--negro-backgound);
  border: 1px solid var(--violeta-primario);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.btnShowIMGf {
  opacity: 0.5;
  cursor: not-allowed;
  width: 70px;
  height: 100%;
  color: #d9d9d9;
  padding: 6px 20px;
  background: var(--negro-backgound);
  border: 1px solid var(--violeta-primario);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.textArea {
  text-align: justify;
  resize: none;
  width: 100%;
  height: 100px;
  background: #d9d9d9;
  box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 10px;
}

.selectGenre {
  padding: 10px;

  text-align: center;
  background: #d9d9d9;
  box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 10px;
  margin-bottom: 10px;
}

.genreContain {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  height: 100px;
  background: #d9d9d9;
  box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 10px;
}

.divGenre {
  word-break: break-all;
  height: fit-content;
}

.divGenre ul {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
}

.divGenre li {
  width: auto;
  height: auto;
  padding: 5px;
  border-radius: 5px;
  list-style: none;
  width: fit-content;
  font-size: 15px;
  margin: 0 2px 0 8px;
}

.err {
  margin: 2px;
  font-size: 200;
  display: flex;
  color: rgba(255, 0, 0, 0.767);
  padding: 4px;
}

.btnContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.btn {
  width: 200px;
  color: #d9d9d9;
  padding: 6px 20px;
  cursor: pointer;
  background: var(--negro-backgound);
  border: 1px solid var(--violeta-primario);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.btnF {
  opacity: 0.5;
  cursor: not-allowed;
  width: 200px;
  color: #d9d9d9;
  padding: 6px 20px;
  background: var(--negro-backgound);
  border: 1px solid var(--violeta-primario);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.btnx {
  background-color: rgba(255, 0, 0, 0.767);
  width: 25px;
  height: 25px;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.divLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 70px;
  height: 100%;
  padding: 6px 20px;
  cursor: pointer;
  color: #d9d9d9;
  background: var(--negro-backgound);
  border: 1px solid var(--violeta-primario);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.loader {
  width: 28px;
  height: 28px;
  border: 5px solid #fff;
  border-bottom-color: var(--violeta-primario);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
