.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divh1 {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}
.h1 {
  color: #d9d9d9;
  font-weight: 600;
  text-align: center;
  background-color: #c16687;
  box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);

  padding: 10px 50px;
  border-radius: 10px;
}

.label {
  color: #d9d9d9;
  margin: 15px 0 5px 0px;
  background-color: #c16687;
  width: 120px;
  padding: 0 10px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 600;
}

.form {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #c16687 2px solid;
  border-radius: 10px;
  background-color: #2f2f2f;
  box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
}

.divs {
  margin: 20px;
  height: 525px;
  width: 600px;
}

.incontainer {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 10px;
  height: 40px;
  background: #d9d9d9;
  box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 10px;
  width: 100%;
}

.textArea {
  text-align: justify;
  resize: none;
  width: 100%;
  height: 100px;
  background: #d9d9d9;
  box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 10px;
}

.selectGenre {
  padding: 10px;

  text-align: center;
  background: #d9d9d9;
  box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 10px;
  margin-bottom: 10px;
}

.genreContain {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  height: 100px;
  background: #d9d9d9;
  box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 10px;
}

.divGenre {
  word-break: break-all;
  height: fit-content;
}

.divGenre ul {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
}

.divGenre li {
  list-style: none;
  width: fit-content;
  font-size: 14px;
  margin: 0 2px 0 8px;
}

.err {
  margin: 2px;
  font-size: 200;
  display: flex;
  color: rgba(255, 0, 0, 0.702);
  padding: 4px;
}

.btnContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.btn {
  width: 200px;
  color: #d9d9d9;
  padding: 6px 20px;
  cursor: pointer;
  background: #181818;
  border: 1px solid #d97197;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.btnx {
  background-color: #f50f6f;
  color: white;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
}
