.container {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 10rem;
  gap: 20px;
  position: relative;
  margin-top: 150px;
}

.backButton {
  background: var(--negro-navBar-filters-btn);
  border-radius: 0.3125rem;
  font-size: 14px;
  color: #ffffff;
  border: 0.0625rem solid var(--violeta-primario);
  padding: 5px 30px;
  top: -70px;
  position: absolute;
}

.pagar{
  color: #FFF;
  text-align: center;
  margin-bottom: 30px;
}

.priceTotalContainer{
  background: red;
}

.stock {
  display: flex;
  justify-content: space-between;
}

.priceStock{
  color: rgb(169, 169, 169);
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.25rem;
}

.totalPrice {
  color: var(--extra-color);
  font-weight: bold;
  font-size: 1.5rem;
}

.total{
  color: var(--extra-color);
  font-size: 1.5rem;
  font-weight: bold;
}

.prices {
  margin-top: 15px;
  display: flex;
  background-color: #202020;
  align-items: center;
  padding: 13px;
  justify-content: space-between;
}

.product {
  width: 640px;
  border-radius: 0.2rem;
}

.payment {
  width: 620px;
}

.button {
  padding: 0.2rem 2.8rem;
  height: 3em;
  background-color: var(--negro-navBar-filters-btn);
  border-radius: 5px;
  color: white;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border: 2px solid var(--violeta-primario);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


.pay {
    padding: 1.5rem;
    background-color: var(--extra-color);
    width: 100%;
    border: 2px solid var(--violeta-primario);
    border-radius: 5px;
    margin-bottom: 20px;
    flex-basis: 100%;
}

.err {
    position: absolute;
    font-size: 10px;
    top: 20px;
}

.stripeControl {
  display: flex;
  justify-content: flex-start;
  /* flex-wrap: wrap; */
  flex-direction: column;
  align-items: center;
  padding: 0;
  height: 30em;
}

.inputContainer {
  /* width: 85%; */
  position: relative;
  margin: 1.5em 0em;
}

.input {
	background: #d9d9d9;
  width: 100%;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	font-size: 18px;
	padding: 7px 20px;
}

.error {
  position: absolute;
  top: 50px;
  left: 10px;
  color: #ffffff;
}

/* .Stripe_product__Bl0te{
  top: 500rem;
} */

.detail {
  display: flex;
  flex-direction: column;
  color: rgb(169, 169, 169);
  border-color: #FFF 1px;
  overflow-y: auto;
  height: 450px;
}

.quantityProduct {
  font-size: 1.3rem;
}

.infoProduct {
  display: flex;
  justify-content: space-between;
}

.detail_price {
  font-size: 1.3rem;
}

.detailProduct {
  display: flex;
}

.bookInfo {
  width: 100%;
  margin-top: 20px;
}

.detailInfo {
  width: 100%;
  padding: 15px;
}

.hr{
  background: red;
  margin: 0;
}

.detailImg {
  height: 6rem;
  width: 3.4rem;
  margin-top: 9px;
}

.detail_info_h2 {
  color: #ffffff;
  font-size: 20px;
 }

.detail_info_h2:hover {
  color: var(--azul-complementario);
 }


.loader, .loader:before, .loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation-fill-mode: both;
    animation: bblFadInOut 1.8s infinite ease-in-out;
  }

  .loader {
    color: #FFF;
    font-size: 7px;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
    animation-delay: -0.16s;
  }
  .loader:before,
  .loader:after {
    content: '';
    position: absolute;
    top: 0;
  }
  .loader:before {
    left: -3.5em;
    animation-delay: -0.32s;
  }
  .loader:after {
    left: 3.5em;
  }
  
  @keyframes bblFadInOut {
    0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em }
    40% { box-shadow: 0 2.5em 0 0 }
  }

  .loaderContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
    height: 100px;
}


@media (max-width: 1450px) {
  .product {
    width: 500px;
  }
  
  .payment {
    width: 500px
  }
  
}

.loaderBuy {
  width: 1.5em;
  height: 1.5em;
  border: 3px solid #fff;
  border-bottom-color: var(--violeta-primario);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.containerBuy{
  width: 80%;
}