.container {
  display: flex;
  margin-top: 100px;
  justify-content: center;
}

.pagar{
  color: #FFF;
  margin-left: 16.5rem;
}

.priceTotalContainer{
  background: red;
}

.precioUnidad{
  color: rgb(169, 169, 169);
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  display: block;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.25rem;
  margin-left: 30rem;
}

.totalPrice {
  background-color: transparent;
  position: absolute;
  margin-bottom: 10rem;
  bottom: 1rem;
  right: 63.9rem;
  color: var(--extra-color);
  display: block;
  font-size: 1.5rem;
  padding: 0.23%;
  font-weight: bold;
}

.total{
  background-color: #202020;
  position: absolute;
  margin-bottom: 10rem;
  bottom: 1rem;
  right: 64.5rem;
  color: var(--extra-color);
  display: block;
  font-size: 1.5rem;
  left: 8rem;
  width: 39.99%;
  padding: 0.233%;
  font-weight: bold;
}

.product {
  width: 40rem;
  height: 50rem;
  border-radius: 0.2rem;
  margin-right: 0.1rem;
}

.payment {
  width: 40rem;
  height: 50rem;
  /* border-radius: 0.2rem;
  display: grid; */
  justify-content: center;
}

.button {
  width: 35%;
  /* padding: 0.57rem; */
  margin-left: 20rem;
  height: 4%;
  background-color: var(--negro-navBar-filters-btn);
  border-radius: 5px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border: 2px solid var(--violeta-primario);
  margin-top: 1.5rem;
  margin-left: 13.5rem;
}


.pay {
    /* margin-bottom: 20px; */
    /* position: relative; */
    /* padding: 3.61rem; */
    padding: 1.5rem;
    background-color: var(--extra-color);
    width: 80%;
    margin-left: 5rem;
    margin-top: 5rem;
    border: 2px solid var(--violeta-primario);
    border-radius: 5px;
}

.err {
    position: absolute;
    font-size: 10px;
    top: 20px;
}

.form {
  margin: 1.5em 6em;
	width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.input {
	flex-grow: 1;
	width: 60rem;
	height: auto;
	position: relative;
	cursor: text;
	background: #d9d9d9;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	font-size: 18px;
	padding: 7px 20px;
  margin: 1em;
}

/* .Stripe_product__Bl0te{
  top: 500rem;
} */

.detail {
  display: flex;
  flex-direction: row;
  align-items: end;
  color: rgb(169, 169, 169);
  padding: 1em 2.5em 1em 2.5em;
  overflow: hidden;
  border-color: #FFF 1px;
  margin-left: -15rem;
  margin-top: 0.6rem;
}

.detail_product {
  display: flex;
  align-items: center;
  margin-bottom: 2%;
}

.detail_price {
  margin-left: 13rem;
  font-size: 1.3rem;
}

.hr{
  background: red;
  width: 42%;
  position: absolute;
  margin-bottom: 0%;
}

.detail_img {
  height: 5rem;
  width: auto;
  object-fit: cover;
  object-position: center;
}

.detail_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1.875rem;
}

.detail_info_h2 {
  margin-bottom: 0.9375rem;
  color: #ffffff;
  font-size: 20px;
 }

.detail_info_h2:hover {
  color: var(--azul-complementario);
 }


.loader, .loader:before, .loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation-fill-mode: both;
    animation: bblFadInOut 1.8s infinite ease-in-out;
  }

  .loader {
    color: #FFF;
    font-size: 7px;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
    animation-delay: -0.16s;
  }
  .loader:before,
  .loader:after {
    content: '';
    position: absolute;
    top: 0;
  }
  .loader:before {
    left: -3.5em;
    animation-delay: -0.32s;
  }
  .loader:after {
    left: 3.5em;
  }
  
  @keyframes bblFadInOut {
    0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em }
    40% { box-shadow: 0 2.5em 0 0 }
  }

  .loaderContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
    height: 100px;
}