.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.commandsContainer {
  margin: 100px 100px 0 100px;
  display: flex;
}

.volverContainer {
  display: flex;
  width: 100%;
  justify-content: left;
}
.adminContainer {
  display: flex;
  width: 100%;
  justify-content: right;
}

.h2alert {
  color: rgb(200, 200, 200);
  background-color: #154557;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  margin: 15px 100px;
}

.btnStatusT {
  margin-left: 10px;
  height: fit-content;
  background-color: var(--verde-primario);
  padding: 5px;
  border: none;
  border-radius: 10px;
  color: black;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  width: 180px;
}

.btnStatusF {
  margin-left: 10px;
  height: fit-content;
  background-color: var(--violeta-primario);
  padding: 5px;
  border: none;
  border-radius: 10px;
  color: black;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  width: 180px;
}

.container {
  display: flex;
  padding: 50px 0px;
  margin: 0px 100px;
  align-items: center;
}

.info {
  padding: 0 40px;
}

.image {
  border-radius: 25px;
  width: 361px;
  height: 554px;
}

.name {
  color: #ffffff;
  font-size: 36px;
  margin: 0px;
  text-transform: capitalize;
}

.author {
  color: rgb(216, 208, 208);
  font-size: 14px;
  margin: 8px 0;
}

.edition {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}

.genre {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  margin-right: 8px;
}

.editorial {
  color: rgb(216, 208, 208);
  font-size: 14px;
  font-weight: 300;
  margin: 5px 0;
  text-transform: capitalize;
}

.description {
  color: rgb(216, 208, 208);
  font-size: 14px;
  font-weight: 300;
  text-align: justify;
}

.containerBuy {
  display: flex;
  margin-top: 30px;
  align-content: center;
}

.price {
  color: #ffffff;
  font-size: 32px;
  font-weight: 600;
  margin: 0 25px 0 0;
}

.cart {
  position: relative;
  height: fit-content;
  background-color: var(--negro-navBar-filters-btn);
  padding: 5px 75px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid var(--violeta-primario);
}

.cartF {
  opacity: 40%;
  cursor: not-allowed;
}

.disponible {
  color: var(--verde-primario);
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  margin: 5px 0;
}

.noDisponible {
  color: var(--violeta-primario);
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  margin: 5px 0;
}

.stars {
  display: flex;
  height: 41px;
  min-width: 150px;
  width: 100%;
  border-radius: 8px;
  opacity: 80%;
}

.star {
  display: flex;
  align-items: center;
  margin: 0px 2px;
  height: 100%;
}

.star i {
  font-size: 22px;
  color: rgb(243, 249, 93);
}

.number {
  display: flex;
  position: absolute;
  background-color: var(--violeta-primario);
  color: #ffffff;
  border-radius: 50%;
  height: 1.3em;
  width: 1.3em;
  justify-content: center;
  align-items: center;
  top: 18%;
  right: 5%;
}
.volver {
  padding: 5px 30px;
  background: #101010;
  font-family: inherit;
  color: #fff;
  border: 1px solid #d56a93;
  border-radius: 5px;
}
.volver a {
  color: white;
}

.volver a:hover {
  color: white;
}
