.container {
    margin: 0;
}

.containerPromo{
    margin-top: 6rem;
}
.promos{
    width: 100%;
    border-color: var(--violeta-primario);
    border-left: 0;
    border-right: 0;
}

.slideBooks {
    display: flex;
    justify-content: center;
}
.infoBooks{
    display: flex;
}
.infoBooks img {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
}

.name {
    color: aliceblue;
}
.price {
    color: #b270a2;
    margin-bottom: 10px;
}

.sliderContain {
    margin: 0 auto;
    overflow-x: hidden;
}
.slider {
    display: flex;
    cursor: grab;
}
.item{
    height: 40rem;
    max-width: 30rem;
    padding: 2rem;
}
.item img{
    height: 100%;
    width: 100%;
    pointer-events: none;
}