.container {
    display: grid;
    justify-content: center;
}

.container2{
    margin-top: 6rem;
    width: 76rem;
}
.card{
    width: 100%;
    border-color: var(--violeta-primario);
    border-left: 0;
    border-right: 0;
}

.card2 {
    width: 100px;
}

.card6 {
    display: flex;
    color: aliceblue;
    width: 100px;
}
.cards2{
    width: 100px;
}

.infoBooks img {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
}

.slideBooks {
    margin: auto;
    width: 200px;
}
.name {
    color: aliceblue;
}
.price {
    color: #b270a2;
    margin-bottom: 10px;
}