.card {
    position: absolute;
    width: 480px;
    height: 280px;
    left: 375px;
    top: 759px;
    
    background: linear-gradient(180deg, #D97197 0%, rgba(217, 113, 151, 0) 100%);
    border-radius: 50px;
}

.image {
    position: absolute;
    width: 163px;
    height: 250px;
    left: 417px;
    top: 693px;
    border-radius: 25px;
}

.name {
    position: absolute;
    width: 214px;
    height: 32px;
    left: 597px;
    top: 799px;
    font-family: 'Helvetica LT Std';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
}

.author {
    position: absolute;
    width: 214px;
    height: 15px;
    left: 599px;
    top: 1253px;
    font-family: 'Helvetica LT Std';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}

.price {
    position: absolute;
    width: 214px;
    height: 74px;
    left: 598px;
    top: 1287px;
    font-family: 'Helvetica LT Std';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
}