.navLink {
  text-decoration: none;
}

.admin {
  display: flex;
  justify-content: right;
  margin: 2px 20px;
}

.btnStatusT {
  margin-right: 10px;
  background-color: var(--verde-primario);
  padding: 5px;
  border: none;
  border-radius: 10px;
  color: black;
  font-weight: 700;
  cursor: pointer;
  width: 30px;
}

.btnStatusF {
  margin-right: 10px;
  background-color: var(--violeta-primario);
  padding: 5px;
  border: none;
  border-radius: 10px;
  color: black;
  font-weight: 700;
  cursor: pointer;
  width: 30px;
}

.container {
  width: 450px;
  height: 250px;
  background-color: var(--violeta-primario);
  background: linear-gradient(180deg, var(--violeta-primario) 0%, rgba(217, 113, 151, 0) 100%);
  display: flex;
  margin: 25px;
  padding: 0 20px;
  border-radius: 20px;
}

.containerF {
  width: 450px;
  height: 250px;
  background-color: var(--violeta-primario);
  background: linear-gradient(180deg, var(--violeta-primario) 0%, rgba(217, 113, 151, 0) 100%);
  display: flex;
  margin: 25px;
  padding: 0 20px;
  border-radius: 20px;
  opacity: 0.5;
}

.imageContainer {
  width: 155px;
  height: 230px;
  margin-left: 15px;
}

.bookCover {
  position: relative;
  z-index: 800;
  top: -60px;
  width: 155px;
  height: 230px;
}

.information {
  padding: 25px 10px;
}

.name {
  margin: 0px;
  color: #fff;
  font-weight: bolder;
  font-size: 21px;
  margin-bottom: 5px;
  margin-right: 5px;
  text-transform: capitalize;
}

.author {
  margin: 0px;
  color: #fff;
  margin-bottom: 5px;
  font-weight: 300;
  font-size: 14px;
}

.edition {
  margin: 0px;
  /* border-bottom: 2px solid white;
  width: fit-content; */
  color: #fff;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 18px;
}

.price {
  margin: 0px;
  font-size: 21px;
  color: #fff;
  font-weight: 600;
}
