.container {
  display: flex;
}

.section {
  width: 300px;
}

.listSection {
  list-style: none;
  text-align: center;
}

.icon {
  width: 55px;
  height: 55px;
}

.account {
  font-size: 16px;
  color: #f8f8f8;
  padding: 10px;
  border-top: 2px #161616 solid;
  border-bottom: 2px #272727 solid;
}

.title {
  font-size: 35px;
}

.option {
  background-color: #ffffff;
  width: 100%;
  padding: 20px 15px;
}

.loader, .loader:before, .loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader {
  color: #FFF;
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em }
  40% { box-shadow: 0 2.5em 0 0 }
}

.loaderContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.disable {
  display: none;
}