:root {
	--violeta-primario: #b270a2;
	--verde-primario: #95d9c3;
	--verde-secundario: #7ce1ce;
	--azul-complementario: #355070;
	--negro-backgound: #181818;
	--negro-navBar-filters-btn: #101010;
	/* --extra-color: #AEB4A9; */
	--extra-color: #ccd0c8;
}

.container {
	background-color: var(--negro-backgound);
	display: flex;
	flex-direction: row;
	position: relative;
	height: calc(100vh - 60px);
	
	/* margin-top: -6vh;  */
	/* margin-bottom: -6.80rem; */
	z-index: 1000;
	
}

/* .container {
  position: relative;
  margin-top: 6vh;
  width: 100%;
} */

.navigation {
	position: fixed;
	width: 19em;
	height: 100%;
	/* margin-top: 6vh; */
	background-color: var(--verde-primario);
	/* background-color: #6F69AC; */
	/* background-color: #363062; */
	/* background-color: #4D4C7D; */
	/* background-color: #395B64; */
	/* background-color: #4C5F7A; */
	transition: 0.5s;
	overflow: hidden;
	color: var(--negro-backgound);
	/* overflow: hidden;  */
}

@media (max-width: 1000px) {
	.navigation {
		width: 4.6875rem;
	}
}

.navigation.active {
	width: 75px;
}

.navigation ul {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	margin-top: 1em;
	padding: 0;
}

.navigation ul a {
	color: var(--negro-backgound);

}

.navigation ul li:nth-child(1) {
	margin-bottom: 8.75rem;
	
}

.navigation ul li {
	position: relative;
	width: 100%;
	max-height: 70px;
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 2.1875rem 0 0 2.1875rem;
	cursor: pointer;

}

.navigation ul li:hover,
.navigation ul li.hovered {
	background-color: var(--negro-backgound);
	color: var(--extra-color);
}

.navigation ul li i,
.navigation ul li .i {
	text-align: center;
	font-size: 18px;
	margin: 27px;
	min-width: 1.2em;
}

.navigation ul li .title {
	margin: 0;
	min-width: 100%;
	position: relative;
	font-size: 1.3em;
	max-height: 30px;
	display: flex;
	align-items: center;
}

.navigation ul li:hover::before,
.navigation ul li.hovered::before {
	content: "";
	background-color: transparent;
	position: absolute;
	top: -50px;
	right: 0;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	box-shadow: 35px 35px 0 10px var(--negro-backgound);
	pointer-events: none;
}

.navigation ul li:hover::after,
.navigation ul li.hovered::after {
	content: "";
	background-color: transparent;
	position: absolute;
	bottom: -50px;
	right: 0;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	box-shadow: 35px -35px 0 10px var(--negro-backgound);
	pointer-events: none;
}

.main {
	position: absolute;
	width: calc(100% - 19em);
	left: 19em;
	transition: 0.5s;
}

@media (max-width: 1000px) {
	.main {
		width: calc(100% - 4.6875rem);
		left: calc(4.6875rem);
	}
}

.main.active {
	width: calc(100% - 75px);
	left: 75px;
}

/* .topbar {
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1.25em;
} */

.toggle {
	position: relative;
	/* top: 6vh; */
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.2em;
	cursor: pointer;
	color: var(--extra-color);
	transition: 0.25s;
}

.toggle:hover {
	transform: scale(1.05);
}

.toggle:active {
	transform: scale(0.95);
}

.containerP {
  margin: 2em 8em;
	justify-content: center;
}

.user {
	font-size: x-large;
	font-weight: 600;
	display: flex;
}

.label {
	font-size: 16px;
	color: var(--extra-color);
	padding: 0.4em 3.8em;
	width: 50%;
}

.span {
	font-size: 16px;
	color: var(--extra-color);
	padding: 0.4em 3.8em;
	width: 50%;

}

.form {
  margin: 5em 7em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.input {
	flex-grow: 1;
	width: 65rem;
	height: auto;
	position: relative;
	cursor: text;
	background: #d9d9d9;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	font-size: 18px;
	padding: 7px 20px;
  margin: 1em;
	width: 100%;
}

.button {
	display: flex;
	width: 7.5rem;
	height: auto;
	position: relative;
	cursor: pointer;
	background: var(--negro-navBar-filters-btn);
	border: 1px solid var(--verde-primario);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	font-size: 16px;
	color: #ffffff;
	padding: 7px 20px;
  margin: 1em;
	justify-content: center;
}

.containerA {
	height: 60px;
	background-color: var(--gris-complementario);
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
  margin: 2.5em 8em;
}

.avatar {
	width: 50px;
	height: auto;
	margin-right: 20px;
}

.loader {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 20em;
}

.shopping {
	margin: 2em 8em;
	display: flex;	
	flex-direction: column;
} 

.books {
	display: flex;
	align-items: center;
	justify-content: flex-start; 
	flex-direction: row;
	margin-bottom: 1em;
	padding-right: 1em;
} 

.containerC {
	height: 60px;
	background-color: var(--gris-complementario);
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
  margin-bottom: 2.5em;
	width: 100%;
}

.misCompras {
	color: var(--negro-background);
	font-size: x-large;
	font-weight: 600;
	display: flex;
	margin-top: 5px;
}

.portada {
	width: 50px;
	margin-right: 20px;
} 

.name {
	color: var(--extra-color);
	font-size: 16px;
	width: 50%;
	padding-right: 2em;

}

.price {
	color: var(--extra-color);
	font-size: 16px;
	width: 20%;
}

.quantity {
	color: var(--extra-color);
	font-size: 16px;
	width: 20%;
}

.detail {
	color: var(--extra-color);
	font-size: 16px;
	width: 10%;
}

.detail:hover {
	color: var(--violeta-primario);
}

.status {
	color: var(--extra-color);
	font-size: 16px;
	margin-top: 20px;
}

.btn {
	display: flex;
	width: 7.5rem;
	height: auto;
	position: relative;
	cursor: pointer;
	background: var(--negro-navBar-filters-btn);
	border: 1px solid var(--verde-primario);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	font-size: 16px;
	color: #ffffff;
	padding: 7px 20px;
  margin-left: 42%;
	justify-content: center;
}

.btnDisabled {
  display: none;
}