.grid {
  display: grid;
  place-items: center;
  /*  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 25% 25% 25% 25%; */
  margin: 50px 0;
  gap: 4.8rem 1.2rem;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.span {
  background-color: wheat;
}

.homeContainer {
  display: flex;
  margin-top: 20px;
}

.cardsContainer {
  width: 100%;
}

.btnNextPrev {
  color: aliceblue;
  background-color: #181818;
  border-radius: 5px;
  border: 2px solid #d97197;
  margin: 20px 5px 0 5px;
  cursor: pointer;
  width: 90px;
}

.btnNextPrev:hover {
  background-color: #d97197;
}
.btnNumbers {
  color: aliceblue;
  background-color: #181818;
  border-radius: 5px;
  border: 2px solid #d97197;
  margin: 20px 5px 0 5px;
  cursor: pointer;
  width: 30px;
}

.btnNumbers:hover {
  background-color: #d97197;
  border: 2px solid #d72466;
}

.btnNumbersSelected {
  color: aliceblue;
  background-color: #181818;
  border-radius: 5px;
  background-color: #d97197;
  border: 2px solid #d72466;
  margin: 20px 5px 0 5px;
  cursor: pointer;
  width: 30px;
}

.pagination {
  display: flex;
  justify-content: center;
  width: 100%;
}
