.grid {
  display: grid;
  place-items: center;
  /*  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 25% 25% 25% 25%; */
  margin: 50px 0;
  gap: 4.8rem 1.2rem;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.span {
  background-color: wheat;
}

.homeContainer {
  display: flex;
  margin: 1.5em 3em 1.5em 3em;
  flex-direction: row; 
  gap: 0.2em;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.2em 0.6em;
}

.cardsContainer {
  flex-grow: 1;
  width: 100%;
}

.btnNextPrev {
  color: aliceblue;
  background-color: var(--negro-backgound);
  border-radius: 5px;
  border: 2px solid var(--violeta-primario);
  margin: 20px 5px 0 5px;
  cursor: pointer;
  width: 90px;
}

.btnNextPrevDisabled {
  opacity: 40%;
  cursor: not-allowed;
}

.btnNextPrev:hover {
  background-color: var(--violeta-primario);
}

.btnNextPrevDisabled:hover {
  background-color: transparent;
  cursor: auto;
}

.btnNumbers {
  color: aliceblue;
  background-color: var(--negro-backgound);
  border-radius: 5px;
  border: 2px solid var(--violeta-primario);
  margin: 20px 5px 0 5px;
  cursor: pointer;
  width: 30px;
}

.btnNumbers:hover {
  background-color: var(--violeta-primario);
}

.btnNumbersSelected {
  color: aliceblue;
  background-color: var(--negro-backgound);
  border-radius: 5px;
  background-color: var(--violeta-primario);
  border: 2px solid var(--violeta-primario);
  margin: 20px 5px 0 5px;
  cursor: pointer;
  width: 30px;
}

.pagination {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1em;
}

.pagination_bottom {
  margin-top: -1.875rem;
}

.loader {
  /* margin-left: 150px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20em;
  
}