.container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 30px 40px;
  background: var(--negro-backgound);
}

.logos {
  display: flex;
  align-items: center;
}

.social {
  display: flex;
  align-items: center;
}

.container.none {
  display: none;
}

.github {
  width: 45px;
  height: 45px;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
}

.iconSM {
  color: #3b5998;
  width: 40px;
  font-size: 25px;
  transition: 0.3s;
}

.iconSM:hover {
  color: aliceblue;
  font-size: xx-large;
  cursor: pointer;
}

.follow {
  color: #FFFFFF;
  font-style: normal;
  margin: 0;
  font-weight: 500;
  font-size: 25px;
}