.form {
  display: flex;
  align-items: center;
  position: relative;
}

.search_box {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 100%;
  position: relative;
  margin: 0;
}

.btn_search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 100%;
  border-style: none;
  font-size: 19px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  /* border-radius: 10%; */
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
  font-family: inherit;
  /* margin-top: 5px;
  margin-bottom: 20px; */
}

.btn_search:focus~.input_search {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
  /* border-bottom: 1px solid var(--violeta-primario); */
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input_search {
  display: flex;
  height: 100%;
  width: 50px;
  border-style: none;
  padding: 7.9px;
  font-size: 14px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: var(--negro-navBar-filters-btn);
  padding-right: 45px;
  color: #fff;
  font-family: inherit;
  /* margin-bottom: 12px;
  padding-bottom: 0px; */

}

.input_search::placeholder {
  color: rgba(255, 255, 255, .5);
  /* color: white; */
  font-size: 14px;
  /* letter-spacing: 2px; */
  font-weight: 100;
  font-family: inherit;
}

.input_search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  font-family: inherit;
  padding-right: 0px;
}

.select {
  /* display: flex; */
  width: 6rem;
  height: auto;
  position: relative;
  cursor: pointer;
  background: var(--negro-navBar-filters-btn);
  box-shadow: 0px 4px 4px var(--negro-navBar-filters-btn);
  border-radius: 5px;
  border: 1px solid var(--violeta-primario);
  font-size: 14px;
  color: #ffffff;
  padding: 6.5px 12px;
  margin-left: 2em;
  /* align-items: center; */
  justify-content: center;
  /* margin-top: 15px; */
  /* margin-bottom: 10.500px; */
}