:root {
  --violeta-primario: #b270a2;
  --verde-primario: #95d9c3;
  --verde-secundario: #7ce1ce;
  --azul-complementario: #355070;
  --negro-backgound: #181818;
  --negro-navBar-filters-btn: #101010;
  /* --extra-color: #AEB4A9; */
  --extra-color: #ccd0c8;
}

.panel_books {
  height: calc(100vh - 60px);
  position: relative;
}

.panel_books img {
  position: absolute;
  top: 40%;
  left: 51%;
  transform: translate(-50%, -50%);
  width: 20em;
}

@media (max-width: 545px) {
  .panel_books img {
    width: 12em;
  }
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
  /* padding: 0 2em; */
  color: var(--extra-color);
  overflow: hidden;
}

.container.active {
  margin: 0 20px;
}

.table_container {
  /* border: 2px solid var(--extra-color); */
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 2.5em 5em;
  padding: 0.5em 1em;
  overflow-x: auto;
  overflow-y: auto;
  min-width: 220px;
  border-radius: 1rem;
  box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.552);
  background-color: #131313;
  transition: 0.5s;
}

@media (max-width: 1200px) {
  .table_container {
    margin: 2.5em 2em;
  }
}

.table_container::-webkit-scrollbar {
  height: 1.3em;
  width: 1.3em;
}

.table_container::-webkit-scrollbar-thumb {
  background: var(--extra-color);
  border-radius: 2em;
  border: 8px solid #131313;
}

.table_container::-webkit-scrollbar-corner {
  background-color: #131313;
}

.table_row {
  display: flex;
  flex-direction: row;
  font-size: 1.1em;
}

.table_row_attributtes {
  margin-bottom: 1em;
}

.table_row_attributtes .col0,
.table_row_attributtes .col1,
.table_row_attributtes .col2,
.table_row_attributtes .col3,
.table_row_attributtes .col4,
.table_row_attributtes .col5,
.table_row_attributtes .col6,
.table_row_attributtes .col7,
.table_row_attributtes .col8,
.table_row_attributtes .col9,
.table_row_attributtes .col10,
.table_row_attributtes .col11 {
  border-bottom: 1px solid var(--extra-color);
  padding-bottom: 0.3em;
  display: flex;
  justify-content: flex-start;
  padding-right: 0em;
  cursor: pointer;
}

.table_row_attributtes .col3,
.table_row_attributtes .col5,
.table_row_attributtes .col6,
.table_row_attributtes .col8,
.table_row_attributtes .col9,
.table_row_attributtes .col10,
.table_row_attributtes .col11 {
  padding-left: 1em;
}

.table_row_attributtes .col1:hover {
  background-color: transparent;
  color: var(--extra-color);
}

.table_row_attributtes .col_active .i_order {
  background-color: var(--extra-color);
  color: var(--negro-backgound);
}

.table_row_attributtes .col0 span,
.table_row_attributtes .col1 span,
.table_row_attributtes .col2 span,
.table_row_attributtes .col3 span,
.table_row_attributtes .col4 span,
.table_row_attributtes .col5 span,
.table_row_attributtes .col6 span,
.table_row_attributtes .col7 span,
.table_row_attributtes .col8 span,
.table_row_attributtes .col9 span,
.table_row_attributtes .col10 span,
.table_row_attributtes .col11 span {
  padding-right: 1em;
}

.i_order {
  font-size: 1.4em;
  background-color: transparent;
}

.col0,
.col1,
.col2,
.col3,
.col4,
.col5,
.col6,
.col7,
.col8,
.col9,
.col10,
.col11 {
  align-items: center;
  margin-bottom: 0.3em;
}

.col0 {
  padding-right: 3rem;
  min-width: 3em;
  display: flex;
}

.col1 {
  padding-right: 3rem;
  min-width: 25em;
  max-width: 25em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}

.col1:hover {
  background-color: var(--extra-color);
  color: var(--negro-backgound);
  cursor: pointer;
}

.col2 {
  min-width: 11em;
  max-width: 11em;
  padding-right: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}

.col3 {
  min-width: 6em;
  text-align: center;
}

.col4 {
  padding-left: 1em;
  min-width: 10em;
  max-width: 10em;
  padding-right: 1em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  cursor: pointer;
}

.col5 {
  min-width: 6em;
  text-align: center;
}

.col6 {
  min-width: 7em;
  text-align: center;
}

.col7 {
  padding-left: 1.5em;
  min-width: 13em;
  max-width: 13em;
  padding-right: 2em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}

.col8 {
  min-width: 7em;
  text-align: center;
}

.col9 {
  min-width: 7em;
  text-align: center;
}

.col10 {
  min-width: 5em;
  transition: 0.3s;
  text-align: center;
}

.col10:hover {
  color: var(--azul-complementario);
  font-size: 1.05em;
  cursor: pointer;
}

.col11 {
  min-width: 5em;
  transition: 0.3s;
  text-align: center;
}

.col11:hover {
  color: var(--violeta-primario);
  font-size: 1.05em;
  cursor: pointer;
}

.btn {
  color: var(--extra-color);
  background-color: transparent;
  border: none;
}

.swal_description {
  text-align: justify;
}
