.navContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 5em;
  background-color: var(--negro-backgound);
}

.label {
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  margin: 1em 1em 0.5em 1em;
}

.select {
  background-color: var(--negro-navBar-filters-btn);
  padding: 5px 8px;
  border: none;
  border-radius: 5px;
  height: fit-content;
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: 600;
  width: 12rem;
  box-shadow: var(--negro-navBar-filters-btn) 1px 3px 2px;
  cursor: pointer;
  margin: 1em 1em 0.5em 1em;
}

.resetButton {
  background-color: var(--negro-navBar-filters-btn);
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: 600;
  width: 12rem;
  box-shadow: var(--negro-navBar-filters-btn) 1px 3px 2px;
  cursor: pointer;
  margin: 1em 1em 0.5em 1em;
}
