.cardsContainer {
    font-family: Helvetica, sans-serif;
}

.categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 55px;
}

.titles {
    color: #fff;
    font-size: 30px;
    margin: 0px;
    margin-bottom: 50px;
    margin-left: 20px;
}