.cart_container {
  margin: 5.5em 7.5em 7.5em 7em;
  height: 88vh;
}

.attributes {
  display: flex;
  flex-direction: row;
  color: rgb(120, 120, 120);
  padding-right: 0.5em;
}

.detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(169, 169, 169);
  padding: 1em 2.5em 1em 2.5em;
}

.detail_product {
  display: flex;
  align-items: center;

}

.detail_img {
  height: 12rem;
  width: 7.5rem;
  object-fit: cover;
  object-position: center;
}

.detail_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1.875rem;
}

.detail_info_h2 {
  margin-bottom: 0.9375rem;
  color: #ffffff;
  font-size: 24px;
 }

.detail_info_h2:hover {
  color: var(--azul-complementario);
 }

.detail_quantity {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: auto;
  border: 0.0625rem solid rgb(169, 169, 169);
}

.detail_quantity_button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: rgb(169, 169, 169);
  background-color: transparent;
  font-size: 24px;
}

.detail_quantity_button:hover {
  color: white;
}

.detail_quantity_button:active {
  transform: scale(1.15);
  color: white;
}

.detail_quantity_p {
  display: flex;
  margin: 0 0.9375rem;
  font-size: 24px;
  /* border-left: 1px solid white;
  border-right: 1px solid white; */
  padding: 0.3125rem 0.625rem;
  /* background-color: green; */
}

.message {
  position: absolute;
  top: 0%;
  left: 25.2%; 
  height: 12rem;
  width: 26rem;
  text-align: center;
  align-content: center;
  justify-content: center;
  transform: translate(12.5rem, 15.625rem);
  color: rgb(169, 169, 169);
  border: 0.0625rem solid rgb(169, 169, 169);
  padding: 1.5em;
  font-size: 24px;
}



.button_disabled {
  opacity: 20%;
}

.button_disabled:hover {
  opacity: 20%;
}

.button_disabled:active {
  transform: none;
}

.btnTrash {
  background-color: var(--negro-backgound);
  border-color: transparent;
  color: rgb(169, 169, 169);
  font-size:x-large;
  cursor: pointer;
  margin-bottom: 0.5em;
}

.btnTrash:hover {
  color: var(--azul-complementario);
  transform: scale(1.05);
}

.btnBack {
  width: 3rem;
  height: fit-content;
  text-align: center;
  justify-content: center;
  background: var(--negro-navBar-filters-btn);
  border-radius: 0.3125rem;
  font-size: 14px;
  color: #ffffff;
  border: 0.0625rem solid var(--violeta-primario);
  padding: 0.3em 0.6em;
  margin-right: 1em;
  margin-bottom: 2.5em;
}

.btnBackEmptyCart {
  width: 3rem;
  height: fit-content;
  text-align: center;
  justify-content: center;
  background: var(--negro-navBar-filters-btn);
  border-radius: 0.3125rem;
  font-size: 14px;
  color: #ffffff;
  border: 0.0625rem solid var(--violeta-primario);
  padding: 0.3em 0.6em;
  margin-top: 6.25rem;
  margin-left: 7.5rem;

}

.btnDelete {
  width: 8rem;
  height: fit-content;
  text-align: center;
  justify-content: center;
  background: var(--negro-navBar-filters-btn);
  border-radius: 0.3125rem;
  font-size: 14px;
  color: #ffffff;
  border: 0.0625rem solid var(--violeta-primario);
  padding: 0.3em 0.6em;
  margin-bottom: 2.5em;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%
}

.btnArr{
  font-size: large;
}

