.nav {
  display: flex;
  position: fixed;
  height: fit-content;
  width: 100%;
  z-index: 1000;
  background-color: var(--negro-navBar-filters-btn);
  justify-content: space-around;
  align-items: center;
  top: 0%;
  left: 0%;
  bottom: 5%;
  flex-flow: row;
}

.nav.none {
  display: none;
}

.navbar nav {
  height: 100%;
}

.logo {
  width: 5rem;
  margin: 0.3em 0;
  height: auto;
  position: relative;
  display: inline-block;
  align-self: center;
  flex-flow: row;
}

.userBtn {
  display: flex;
  width: 4.5rem;
  height: auto;
  text-align: center;
  justify-content: center;
  align-self: center;
  border-radius: 5px;
  font-size: 14px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid var(--violeta-primario);
  padding: 8px 10px 8px 10px;
}

.userBtn i {
  height: 100%;
}

.cart {
  display: flex;
  width: 4.5rem;
  height: auto;
  align-self: center;
  align-items: center;
  justify-content: center;
  position: relative;
  background: var(--negro-navBar-filters-btn);
  border-radius: 5px;
  font-size: 14px;
  color: #ffffff;
  border: 1px solid var(--violeta-primario);
  padding: 8px 10px 8px 10px;
}

.cart i {
  height: 100%;
}

.forms {
  display: flex;
  width: 350px;
  justify-content: space-evenly;
  align-items: center;
}

.button {
  display: flex;
  position: relative;
  width: 4.5rem;
  height: auto;
  text-align: center;
  justify-content: center;
  background: var(--negro-navBar-filters-btn);
  border-radius: 5px;
  font-size: 14px;
  color: #ffffff;
  border: 1px solid var(--violeta-primario);
  padding: 5px 10px 5px 10px;
}

.menu {
  position: absolute;
  background-color: #242424;
  width: 8rem;
  height: 6rem;
  border-radius: 4px;
  padding: 4px;
  top: 60px;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.text {
  color: #dedede;
  font-size: 12px;
  padding: 12px;
  cursor: pointer;
}

.number {
  display: flex;
  position: absolute;
  background-color: var(--violeta-primario);
  border-radius: 50%;
  height: 1.3em;
  width: 1.3em;
  justify-content: center;
  align-items: center;
  top: -20%;
  right: -10%;
}