.nav {
  display: flex;
  position: fixed;
  height: fit-content;
  width: 100%;
  z-index: 1000;
  background-color: var(--negro-navBar-filters-btn);
  justify-content: space-around;
  align-items: center;
  top: 0%;
  left: 0%;
  bottom: 5%;
  flex-flow: row;
}

.nav.none {
  display: none;
}

.navbar nav {
  height: 100%;
}

.logo {
  width: 5rem;
  margin: 0.3em 0;
  height: auto;
  position: relative;
  display: inline-block;
  align-self: center;
  flex-flow: row;
}

.userBtn {
  display: flex;
  width: 4.5rem;
  height: auto;
  text-align: center;
  justify-content: center;
  align-self: center;
  border-radius: 5px;
  font-size: 14px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid var(--violeta-primario);
  padding: 8px 10px 8px 10px;
  margin-left: 5em;
}

.userBtn i {
  height: 100%;
}

.guestBtn {
  display: flex;
  width: 6.5rem;
  height: auto;
  text-align: center;
  justify-content: center;
  align-self: center;
  border-radius: 5px;
  font-size: 14px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid var(--violeta-primario);
  padding: 4.5px 10px 4.5px 10px;
  margin-left: 5em;
}

.guestBtn i {
  height: 100%;
}

.cart {
  display: flex;
  width: 4.5rem;
  height: auto;
  align-self: center;
  align-items: center;
  justify-content: center;
  position: relative;
  background: var(--negro-navBar-filters-btn);
  border-radius: 5px;
  font-size: 14px;
  color: #ffffff;
  border: 1px solid var(--violeta-primario);
  padding: 8px 10px 8px 10px;
  margin-right: 5em;
}

.cart i {
  height: 100%;
}

.forms {
  display: flex;
  width: 350px;
  justify-content: space-evenly;
  align-items: center;
}

.buttonDash {
  display: flex;
  position: relative;
  width: 7rem;
  height: auto;
  text-align: center;
  justify-content: center;
  background: var(--negro-navBar-filters-btn);
  border-radius: 5px;
  font-size: 14px;
  color: #ffffff;
  border: 1px solid var(--violeta-primario);
  padding: 5px 10px 5px 10px;
  margin-right: 7em;
}

.menu {
  position: absolute;
  background-color: #242424;
  width: 8rem;
  height: 6rem;
  border-radius: 4px;
  padding: 4px;
  top: 60px;
  margin-left: 1em;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.text {
  color: #dedede;
  font-size: 12px;
  padding: 12px;
  cursor: pointer;
}

.number {
  display: flex;
  position: absolute;
  background-color: var(--violeta-primario);
  border-radius: 50%;
  height: 1.3em;
  width: 1.3em;
  justify-content: center;
  align-items: center;
  top: -20%;
  right: -10%;
}

.homeIcon {
  color: #ffffff;
  font-size: 1.5rem;
}

.navToggle {
  display: none;
}

@media (max-width: 700px) {
  .nav {
    justify-content: space-between;
    width: 100vw;
  }

  .forms {
    position: absolute;
    top: 4rem;
    display: flex;
    flex-direction: column;
    left: 0;
    width: 100%;
    height: 14rem;
    transform: translateX(-100%);
    transition: all .45s;
    background: rgba(255, 255, 255, .25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, .37);
    backdrop-filter: blur(4px);
    border-radius: 10px;

  }

  .nav .forms .aa::before {
    background: transparent;
  }

  .nav .forms.open {
    transform: translateX(0);
  }

  .nav .navToggle {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .navToggle .bar {
    position: relative;
    width: 32px;
    height: 2px;
    background: #ffffff;
    transition: all 0.45s ease-in-out;
  }

  .navToggle .bar::before,
  .navToggle .bar::after {
    content: "";
    position: absolute;
    height: 2px;
    background: #ffffff;
    border-radius: 2px;
    transition: all 0.45s ease-in-out;
  }

  .navToggle .bar::before {
    width: 25px;
    transform: translateY(-8px);
    right: 0;
  }

  .navToggle .bar::after {
    width: 32px;
    transform: translateY(8px);
  }

  .navToggle.open .bar {
    transform: translateX(-40px);
    background: transparent;
  }

  .navToggle.open .bar::before {
    width: 32px;
    transform: rotate(45deg) translate(26px, -26px);
  }

  .navToggle.open .bar::after {
    transform: rotate(-45deg) translate(26px, 26px);
  }

  .userBtn {
    background-color: var(--negro-navBar-filters-btn);
    margin: auto;
  }

  .cart {
    margin: auto;
  }

  /* .guestBtn{
    margin-left: 0;
    background-color: var(--negro-navBar-filters-btn);
  } */
}