.detail {
    position: relative;
    width: 1440px;
    height: 1473px;
    background: #181818;
}

.image {
    position: absolute;
    width: 361px;
    height: 554px;
    left: 151px;
    top: 195px;
    border-radius: 25px;
}

.title {
    position: absolute;
    width: 291px;
    height: 38px;
    left: 553px;
    top: 237px;
    font-family: 'Helvetica LT Std';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
}

.textDetail {
    position: absolute;
    font-family: 'Helvetica LT Std';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #FFFFFF;
}

.price {
    position: absolute;
    width: 183px;
    height: 35px;
    left: 561px;
    top: 661px;
    font-family: 'Helvetica LT Std';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
}

.buttonCart {
    position: absolute;
    width: 250px;
    height: 35px;
    left: 769px;
    top: 662px;
    background: #101010;
    border-radius: 25px;
    font-family: 'Helvetica LT Std';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.reviewTitle {
    position: absolute;
    width: 146px;
    height: 44px;
    left: 274px;
    top: 881px;
    font-family: 'Helvetica LT Std';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
}

.person {
    position: absolute;
    width: 100px;
    height: 25px;
    left: 275px;
    top: 951px;
    font-family: 'Helvetica LT Std';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}

.review {
    position: absolute;
    width: 867px;
    height: 61px;
    left: 274px;
    top: 988px;
    font-family: 'Helvetica LT Std';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

