.home {
    position: relative;
    width: 1440px;
    height: 2711px;
    background: #181818;
}

.categoryOneContainer{
    position: absolute;
    width: 302px;
    height: 156px;
    left: 376px;
    top: 194px;
    background: #D97197;
    border-radius: 25px;
}

.categoryTwoContainer {
    position: absolute;
    width: 302px;
    height: 156px;
    left: 720px;
    top: 194px;
    background: #2D0FF2;
    border-radius: 25px;
}

.categoryThreeContainer {
    position: absolute;
    width: 302px;
    height: 156px;
    left: 1063px;
    top: 194px;
    background: #4BA4F2;
    border-radius: 25px;
}

.categoryFourContainer {
    position: absolute;
    width: 987px;
    height: 156px;
    left: 376px;
    top: 394px;
    background: #084259;
    border-radius: 25px;
}

.categoriesTitle {
    position: absolute;
    width: 114px;
    height: 37px;
    left: 468px;
    top: 254px;
    font-family: 'Helvetica LT Std';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
}