:root {
  --violeta-primario: #b270a2;
  --verde-primario: #95d9c3;
  --verde-secundario: #7ce1ce;
  --azul-complementario: #355070;
  --negro-backgound: #181818;
  --negro-navBar-filters-btn: #101010;
  /* --extra-color: #AEB4A9; */
  /* --extra-color: #6F69AC; */
  --extra-color: #ccd0c8;
}

.panel_genres {
  height: calc(100vh - 60px);
  position: relative;
  padding: 2.5em 5em 2.5em 5em;
  transition: 0.4s;
}

.panel_genres img {
  position: absolute;
  top: 40%;
  left: 51%;
  transform: translate(-50%, -50%);
  width: 20em;
}

@media (max-width: 545px) {
  .panel_genres img {
    width: 12em;
  }
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100%;
  /* height: calc(100vh - 60px); */
  /* padding: 0 2em; */
  color: var(--extra-color);
  gap: 2em;
  /* overflow: hidden; */
}

.container.active {
  margin: 0 20px;
}

.table_container {
  /* border: 2px solid var(--extra-color); */
  min-width: 20em;
  /* max-width: fit-content; */
  /* min-width: 53em; */
  display: flex;
  flex-direction: column;
  /* margin: 2.5em 0 2.5em 5em; */
  padding: 0.5em 1em;
  overflow-x: auto;
  overflow-y: auto;
  /* min-width: 80rem;
  max-width: 80rem; */
  border-radius: 1rem;
  box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.552);
  background-color: #131313;
  transition: 0.5s;
  flex-basis: 60%;
}

.table_container::-webkit-scrollbar {
  height: 1.3em;
  width: 1.3em;
}

.table_container::-webkit-scrollbar-thumb {
  background: var(--extra-color);
  border-radius: 2em;
  border: 8px solid #131313;
}

.table_container::-webkit-scrollbar-corner {
  background-color: #131313;
}

.table_row {
  display: flex;
  flex-direction: row;
  font-size: 1.1em;
}

.table_row_attributtes {
  margin-bottom: 1em;
}

.table_row_attributtes .col0,
.table_row_attributtes .col1 {
  border-bottom: 1px solid var(--extra-color);
  padding-bottom: 0.3em;
  display: flex;
  justify-content: flex-start;
  padding-right: 0em;
}

.table_row_attributtes .col2,
.table_row_attributtes .col3,
.table_row_attributtes .col4 {
  border-bottom: 1px solid var(--extra-color);
  padding-bottom: 0.3em;
  display: flex;
  justify-content: center;
  padding-right: 0em;
}

.table_row_attributtes .col1,
.table_row_attributtes .col2,
.table_row_attributtes .col3,
.table_row_attributtes .col4 {
  cursor: pointer;
}

.table_row_attributtes .col_active .i_order {
  background-color: var(--extra-color);
  color: var(--negro-backgound);
}

.table_row_attributtes .col0 span,
.table_row_attributtes .col1 span,
.table_row_attributtes .col2 span,
.table_row_attributtes .col3 span,
.table_row_attributtes .col4 span {
  padding-right: 1em;
}

.i_order {
  font-size: 1.4em;
}

.col0,
.col1,
.col2,
.col3,
.col4 {
  align-items: center;
  margin-bottom: 0.3em;
}

.col0 {
  min-width: 4rem;
  max-width: 4rem;
  display: flex;
}

.col1 {
  min-width: 9em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.col2 {
  min-width: 8em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.col3 {
  min-width: 13em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.col4 {
  min-width: 12em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.stats_container {
  min-width: 22em;
  display: flex;
  flex-direction: column;
  /* overflow-x: auto;
  overflow-y: auto; */
  transition: 0.5s;
  gap: 2em;
  flex-basis: 40%;
}

.stats_add_container {
  display: flex;
  height: 40%;
  flex-direction: column;
  padding: 0.5em 1em;
  overflow-x: auto;
  overflow-y: auto;
  border-radius: 1rem;
  box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.552);
  background-color: #131313;
  transition: 0.5s;
}

.stats_label {
  height: 2em;
  font-size: 1.5em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--extra-color);
}

.search {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  /* width: 400px; */
  margin: 0 10px;
  justify-content: center;
}

.searchForm {
  position: relative;
  width: 100%;
}

.searchFormInput {
  width: 100%;
  height: 55px;
  border-radius: 1rem;
  /* padding: 5px 20px; */
  /* padding-left: 35px; */
  /* margin-top: 2em; */
  margin-bottom: 1em;
  font-size: 1.3rem;
  outline: none;
  border: 1px solid var(--extra-color);
  background-color: var(--extra-color);
  text-align: center;
}

input::placeholder {
  color: var(--negro-backgound);
}

.stats_submit {
  width: 100%;
  height: 55px;
  border-radius: 1rem;
  /* padding: 5px 20px; */
  /* padding-left: 35px; */
  margin-top: 1em;
  font-size: 1.125rem;
  outline: none;
  border: 1px solid var(--extra-color);
  background-color: transparent;
  text-align: center;
  color: var(--extra-color);
}

.subContainer {
  display: flex;
  height: 60%;
  flex-direction: column;
  /* margin: 0em 5em 2.5em 0; */
  padding: 0.5em 1em;
  overflow-x: auto;
  overflow-y: auto;
  /* min-width: 80rem;
            max-width: 80rem; */
  border-radius: 1rem;
  box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.552);
  background-color: #131313;
  transition: 0.5s;
  /* align-items: center; */
}

.stats_rank_container_total {
  height: 100%;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}

.stats_rank_container {
  display: flex;
  padding-top: 2em;
  align-items: center;
  justify-content: space-around;
  /* margin-top: 0.2em; */
}

.stats_rank_i {
  font-size: 4em;
}

.stats_rank_i2 {
  height: fit-content;
  width: fit-content;
  font-size: 4em;
  padding-bottom: 0.2em;
}

.stats_rank_i3 {
  height: fit-content;
  width: fit-content;
  font-size: 4em;
  padding-bottom: 0.4em;
}

.stats_rank_name {
  font-size: 1.4em;
}

.stats_rank_quantity {
  /* background-color: var(--extra-color);
  color: var(--negro-backgound); */
  padding: 0.1em;
  font-size: 1.4em;
}


@media (max-width: 1200px) {
  .panel_genres {
    padding: 2.5em 2em 2.5em 2em;
  }

  .container {
    flex-direction: column;
  }

  .table_container {
    height: 70%;
    /* flex-basis: 70%; */
  }

  .stats_container {
    /* min-width: 14em; */
    display: flex;
    flex-direction: row;
    /* overflow-x: auto;
    overflow-y: auto; */
    transition: 0.5s;
    gap: 2em;
    height: 30%;
    min-height: 16em;
    /* flex-basis: 20%; */
  }

  .stats_add_container {
    height: 100%;
    width: 50%;
  }

  .subContainer {
    height: 100%;
    width: 50%;
  }

  .stats_rank_container_total {
    height: 100%;
  }

  .stats_rank_container {
    font-size: 14px;
  }

  .stats_rank_i {
    font-size: 2.2em;
  }

  .stats_rank_i2 {
    font-size: 2.2em;
  }

  .stats_rank_i3 {
    font-size: 2.2em;
  }
}

@media (max-width: 1000px) {
  .stats_add_container {
    width: 100%;
  }

  .subContainer {
    display: none;
  }
}

@media (max-width: 500px) {
  .panel_genres {
    padding: 1em;
  }
}

/* 
.stats_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 45rem;
  justify-content: space-between;
  width: 1000px;
}

.subContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.stats {
  display: flex;
  flex-direction: column;
  height: 21rem;
  width: 25rem;
  border: solid 2px var(--extra-color);
  border-radius: 5px;
}

.stats:hover {
  transform: scale(1.04);
}

@media (max-width: 545px) {
  .stats_container {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    gap: 1em;
    height: 13em;
    flex-wrap: wrap;
  }

  .stats_container::-webkit-scrollbar {
    display: none;
  }

  .stats {
    min-width: 12.2em;
    height: 5em;
  }
}

.addGenre {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.label {
  width: 100%;
  height: fit-content;
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
  color: var(--negro-backgound);
  background-color: var(--extra-color);
  padding: 20px 0;
}

.form {
  padding: 0 25px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.form input {
  padding: 20px;
  background-color: var(--extra-color);
  color: var(--negro-backgound);
  border-radius: 5px;
  border: none;
}

.form button {
  border: none;
  padding: 20px;
  background-color: var(--extra-color);
  color: var(--negro-backgound);
  border-radius: 5px;
  transition: 0.5s;
}

.form button:hover {
  color: var(--azul-complementario);
}

.form span {
  color: var(--violeta-primario);
} */