:root {
  --violeta-primario: #b270a2;
  --verde-primario: #95d9c3;
  --verde-secundario: #7ce1ce;
  --azul-complementario: #355070;
  --negro-backgound: #181818;
  --negro-navBar-filters-btn: #101010;
  /* --extra-color: #AEB4A9; */
  --extra-color: #ccd0c8;
}

.panel_genres {
  height: calc(100vh - 60px);
  position: relative;
  background-color: red;
}

.panel_genres img {
  position: absolute;
  top: 40%;
  left: 51%;
  transform: translate(-50%, -50%);
  width: 20em;
}

@media (max-width: 545px) {
  .panel_genres img {
    width: 12em;
  }
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-direction: row;
  gap: 2em;
  height: calc(100vh - 60px);
  /* padding: 0 2em; */
  color: var(--extra-color);
  overflow: hidden;
  background-color: green;
}

.container.active {
  margin: 0 20px;
}

.table_container {
  /* border: 2px solid var(--extra-color); */
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 2.5em 5em;
  padding: 0.5em 1em;
  overflow-x: auto;
  overflow-y: auto;
  min-width: 80rem;
  max-width: 80rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.552);
  background-color: #131313;
  transition: 0.5s;
}

@media (max-width: 1300px) {
  .table_container {
    margin: 2.5em 2em;
  }
}

.table_container::-webkit-scrollbar {
  height: 1.3em;
  width: 1.3em;
}

.table_container::-webkit-scrollbar-thumb {
  background: var(--extra-color);
  border-radius: 2em;
  border: 8px solid #131313;
}

.table_container::-webkit-scrollbar-corner {
  background-color: #131313;
}

.table_row {
  display: flex;
  flex-direction: row;
  font-size: 1.1em;
}

.table_row_attributtes {
  margin-bottom: 1em;
}

.table_row_attributtes .col0,
.table_row_attributtes .col1 {
  border-bottom: 1px solid var(--extra-color);
  padding-bottom: 0.3em;
  display: flex;
  justify-content: flex-start;
  padding-right: 0em;
}

.table_row_attributtes .col2,
.table_row_attributtes .col3,
.table_row_attributtes .col4 {
  border-bottom: 1px solid var(--extra-color);
  padding-bottom: 0.3em;
  display: flex;
  justify-content: center;
  padding-right: 0em;
}

.table_row_attributtes .col1,
.table_row_attributtes .col2,
.table_row_attributtes .col3,
.table_row_attributtes .col4 {
  cursor: pointer;
}

.table_row_attributtes .col_active .i_order {
  background-color: var(--extra-color);
  color: var(--negro-backgound);
}

.table_row_attributtes .col0 span,
.table_row_attributtes .col1 span,
.table_row_attributtes .col2 span,
.table_row_attributtes .col3 span,
.table_row_attributtes .col4 span {
  padding-right: 1em;
}

.i_order {
  font-size: 1.4em;
}

.col0,
.col1,
.col2,
.col3,
.col4 {
  align-items: center;
  margin-bottom: 0.3em;
}

.col0 {
  min-width: 4rem;
  max-width: 4rem;
  display: flex;
}

.col1 {
  min-width: 9em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.col2 {
  min-width: 8em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.col3 {
  min-width: 12em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.col4 {
  min-width: 12em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}



.btnDelete {
  width: 10%;
  border: none;
  background-color: var(--negro-backgound);
  color: var(--extra-color);
  transition: 00.3s;
}

.btnDelete:hover {
  color: var(--violeta-primario);
}

/* 
.stats_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 45rem;
  justify-content: space-between;
  width: 1000px;
}

.subContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.stats {
  display: flex;
  flex-direction: column;
  height: 21rem;
  width: 25rem;
  border: solid 2px var(--extra-color);
  border-radius: 5px;
}

.stats:hover {
  transform: scale(1.04);
}

@media (max-width: 545px) {
  .stats_container {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    gap: 1em;
    height: 13em;
    flex-wrap: wrap;
  }

  .stats_container::-webkit-scrollbar {
    display: none;
  }

  .stats {
    min-width: 12.2em;
    height: 5em;
  }
}

.addGenre {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.label {
  width: 100%;
  height: fit-content;
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
  color: var(--negro-backgound);
  background-color: var(--extra-color);
  padding: 20px 0;
}

.form {
  padding: 0 25px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.form input {
  padding: 20px;
  background-color: var(--extra-color);
  color: var(--negro-backgound);
  border-radius: 5px;
  border: none;
}

.form button {
  border: none;
  padding: 20px;
  background-color: var(--extra-color);
  color: var(--negro-backgound);
  border-radius: 5px;
  transition: 0.5s;
}

.form button:hover {
  color: var(--azul-complementario);
}

.form span {
  color: var(--violeta-primario);
} */